h1{
    text-align  : justify;
  }
  label{
      color:red;
      font-weight: 700;
  }
  input,form{
      margin-top: 5px;
      display: block;
      padding-left: 20px;
      line-height: 17px;
  }
  .container{
      border: solid black;
      margin: 0 auto;
      border-radius: 5px;
      padding:10px;
      height:300px;
      width: 100%;
      background-color: white;
  }
  body{
      margin-top: 170px;
      margin-left:580px;
      height:350px;
      width:300px;
  }
  #button{
       color:purple;
  }
